@charset "UTF-8";
html, body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Nanum Gothic','Malgun Gothic','돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
}

h2 {
  margin: 0;
  padding: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  color: #585858;
  text-decoration: none;
}

header.main-header {
  height: 61px;
  border-bottom: 1px solid #e7e7e7;
}

header.main-header ul.header-menu-list li {
  float: left;
  line-height: 61px;
}

header.main-header ul.header-menu-list li img {
  vertical-align: middle;
}

header.main-header ul.left {
  height: 100%;
  float: left;
}

header.main-header ul.left li > a {
  padding: 0 15px;
}

header.main-header .right {
  height: 100%;
  float: right;
}

header.main-header .right .header-menu-list {
  float: left;
}

header.main-header .right .header-menu-list li > a {
  padding: 0 15px;
}

header.main-header .right .header-menu-list.room-list {
  font-size: 14px;
  margin-right: 12px;
}

header.main-header .right .header-menu-list.auth-list {
  font-size: 12px;
}

.search-container {
  height: 678px;
  background-position: center center;
  position: relative;
}

.input-container {
  width: 534px;
  margin: 30px auto 0;
}

.input-container > * {
  box-sizing: border-box;
  float: left;
  height: 50px;
  border: 0;
}

.input-container input {
  width: 434px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 14px;
  line-height: 50px;
  text-indent: 20px;
}

.input-container button {
  width: 100px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #3b8de0;
  font-size: 15px;
  color: #fff;
}

.theme-header {
  width: 960px;
  margin: 71px auto 30px;
  text-align: center;
}

.theme-header h2 {
  font-size: 36px;
}

.theme-header p {
  margin-top: 5px;
  font-size: 20px;
}

.theme-container {
  width: 960px;
  margin: 0 auto;
}

.theme-container .theme-list {
  background-size: cover;
}

.theme-container .theme-list li.theme {
  float: left;
  width: 32%;
  padding-top: 32%;
  position: relative;
  margin-bottom: 30px;
  margin-right: 2%;
  box-sizing: border-box;
}

.theme-container .theme-list li.theme.theme:nth-of-type(3n) {
  margin-right: 0;
}

.theme-container .theme-list li.theme > .theme-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition-duration: .5s;
}

.theme-container .theme-list li.theme > .theme-content:hover > .mask {
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: .5s;
}

.pet {
  background: url("../images/pet.jpg") no-repeat;
}

.guarantee {
  background: url("../images/guarantee.jpg") no-repeat;
}

.pano {
  background: url("../images/pano.jpg") no-repeat;
}

.parking {
  background: url("../images/parking.jpg") no-repeat;
}

.direct {
  background: url("../images/direct.jpg") no-repeat;
}

.officetel {
  background: url("../images/officetel.jpg") no-repeat;
}

.mask {
  width: 100%;
  height: 100%;
  background-color: #2a2a2a;
  opacity: .4;
  position: absolute;
}

.typo {
  font-size: 24px;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.typo span {
  font-size: 13px;
}

.search-bar-bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.6);
}
